@import url('https://fonts.googleapis.com/css?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
    margin: 0px;
}

header {
    background-color: darkseagreen;
    padding-bottom: 30px;
}

header input#toggler {
    display: none;
}

header label img {
    width: 65px;
    height: auto;
    margin: 0px 0px 0px 10px;
}

input#toggler:checked+nav {
    display: block;
}

nav{
    display: none;
}

.container {
    width: 100%;
    margin: auto;
}

h1{
    text-align: center;
    margin: 0px;
    font-family: 'Staatliches', cursive;
    font-size: 100px;
}

p{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    margin: 0px 0px 10px 0px;
}

h2{
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    margin: 20px; 
}

.pos-relative {
    position: relative;
}

.v-h-centered-block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media(min-width:540px) {
    .container {
        width: 520px;
        margin: auto;
    }
}

@media(min-width:800px) {
    .container {
        width: 760px;
        margin: auto;
    }
}
