body{
    margin: 0px;
    background-color: #173753;
}

nav{
    background-color: #173753;
}

nav ul{
    list-style: none;
    padding-left: 0px;
    margin: -20px;
    margin-top: 20px;
    text-align: center;
}

nav a{
    display: block;
    padding: 15px;
}

nav ul a{
    text-decoration: none;
    color: whitesmoke;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav a:hover{
    background-color: #e71d357e;
    padding: 15px;
}

.current{
    background-color: #e71d36;
    padding: 15px;
}