body{
    margin: 0px;
    background-color: #23708E
}

nav{
    background-color: #23708E;
}

nav ul{
    list-style: none;
    padding-left: 0px;
    margin: -20px;
    margin-top: 20px;
    text-align: center;
}

nav a{
    display: block;
}

nav ul a{
    text-decoration: none;
    color: whitesmoke;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.current{
    background-color: aquamarine;
    padding: 15px;
}

li:not(.current){
    margin: 30px;
}