body{
    margin: 0px;
    background-color: white;
}

nav{
    background-color: #173753;
}

nav ul{
    list-style: none;
    padding-left: 0px;
    text-align: center;
}

nav a{
    display: block;
    padding: 20px;
}

nav ul a{
    text-decoration: none;
    color: whitesmoke;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav a:hover{
    background-color: #e71d357e;
    padding: 20px;
}

.current{
    background-color: #e71d36;
    padding: 20px;
}

h1{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 60px;
}

h2{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}

.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}

p{
    margin: 25px 30px;
}

@media(min-width:540px){
    nav ul li{
        display: inline-block;
        padding-bottom: 5px;
        border-bottom: 0px;
        margin: 10px 20px;
    }

    nav ul{
        text-align: center;
    }

    nav{
        padding: 0px 10px;
    }
}