/* HEADERS */

.bg-index {
    background-image: url("links/skates-circle.png");
    position: relative;
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-skates-line{
    background-image: url("links/skates-line.png");
    position: relative;
    height: 25%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-m-cutout{
    background-image: url("links/m-cutout.jpg");
    position: relative;
    height: 25%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* END OF HEADERS */

.bg-classic-moxis{
    background-image: url("links/skates-classic.jpg");
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover  
}

.bg-custom{
    background-image: url("links/skates-custom.png");
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover  
}

.bg-wheels{
    background-image: url("links/wheels.jpg");
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover  
}

.bg-plates{
    background-image: url("links/plates.jpg");
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* LOCATION PAGE */
.bg-shop-lb{
    background-image: url("links/shop-longbeach.jpg");
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}

.bg-shop-v{
    background-image: url("links/shop-venice.jpg");
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}