.white {
    background-color: #EAF2EF;
}

.black {
    background-color: #120309;
}

.orange {
    background-color: rgb(226, 141, 30);
}

.green {
    background-color: #17976A;
}

.yellow {
    background-color: #E9A31C;
}

.blue {
    background-color: #016C71;
}

.red{
    background-color: rgb(202, 17, 17);
}

.transparent {
    background-color: transparent;
}