.white {
    background-color: #EAF2EF;
}

.black {
    background-color: #120309;
}

.orange {
    background-color: rgb(226, 141, 30);
}

.green {
    background-color: rgb(16, 199, 135);
}

.yellow {
    background-color: #E9A31C;
}

.blue {
    background-color: rgb(16, 180, 189);
}

.red {
    background-color: rgb(202, 17, 17);
}

.pink {
    background-color: rgb(224, 85, 171);
}

.purple {
    background-color: rgb(174, 33, 209);
}

.transparent {
    background-color: transparent;
}