/* SHOP ITEM FORM */
form{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

fieldset {
    border: none;
    padding: 0;
    }
    
  h4,label {
    padding: 0;
    font-weight: bold;
    }

input[id^=Color],
input[id^=Color]~label,
input[type=checkbox],
input[type=checkbox]~label{
    width: initial;
    display: block;
}

input[id^=Color] {
    display: none;
}

input[id^=Color]~label::before{
    content: "";
position: absolute;
width: 40px;
height: 40px;
border-radius: 50%;
top: -41px;
left: 14px;
}

input[id^=Color1]~label::before{
    background-color:#2f65ca;
}

input[id^=Color2]~label::before{
    background-color:#b30202;
}

input[id^=Color3]~label::before{
    background-color:#2f65ca;
}

input[id^=Color4]~label::before{
    background-color:#b30202;
}
input[id^=Color5]~label::before{
    background-color:#2f65ca;
}

input[id^=Color6]~label::before{
    background-color:#b30202;
}
input[id^=Color7]~label::before{
    background-color:#2f65ca;
}

input[id^=Color8]~label::before{
    background-color:#b30202;
}
input[id^=Color9]~label::before{
    background-color:#2f65ca;
}

.radio-group {
    padding-left: 20px;
    position: relative;
    display: inline-block;
}

input[id^=Color]:checked~label::after{
    content: "";
position: absolute;
border-radius: 50%;
width: 40px;
height: 40px;
background-color:transparent;
top: -41px;
left: 14px;
box-shadow: 0 0 0 4px black;
}