@import url(layout.css);
@import url(colors.css);
@import url(navbar.css);
@import url(background-images.css);

body,
html {
    height: 100%;
    margin: 0;
}

.caption {
    width: 100%;
    text-align: center;
    color: #000;
}

.instagram a {
    width: 100%;
    text-align: center;
    color: #000;
    background-color: white;
    padding: 20px;
}

h1,
h2,
h4 {
    text-align: center;
}

.space {
    padding: 10px 10px 0px 10px;
}

.space::after {
    clear: both;
    content: "";
    display: block;
}

.box {
    height: 288px;
}

.square {
    height: 150px;
}

.icon {
    height: 20px;
    width: auto;
    vertical-align: middle;
}

/* GRID */
box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 0px;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}


@media(min-width:540px) {
    .box {
        height: 268px;
    }

    .m-col-3 {
        width: 25%;
    }
    
}

@media(min-width:800px) {
    .box {
        height: 340px;
    }

    .m-col-2 {
        width: 16.66%;
    }
}