@import url(layout.css);
@import url(colors.css);
@import url(navbar.css);
@import url(background-images.css);

body,
html {
    height: 100%;
    margin: 0;
}

.caption{
    width: 100%;
    text-align: center;
    color: #000;
}

h1, h2, h4{
    text-align: center;
}

.space{
    padding: 10px 10px 0px 10px;
}

.space::after {
    clear: both;
    content: "";
    display: block;
}

.box{
    height: 288px;
}

.square{
    height: 150px;
    width: 150px;
}

.icon{
    height: 20px;
    width: auto;
    vertical-align: middle;
}


@media(min-width:540px) {
    .box{
        height: 268px;
    }
}

@media(min-width:800px) {
    .box{
        height: 340px;
    }
}