@import url(layout.css);
@import url(colors.css);
@import url(navbar.css);

body,
html {
    height: 100%;
    margin: 0;
}

.caption{
    width: 100%;
    text-align: center;
    color: #000;
}

h1{
    text-align: center;
}

.space{
    padding: 10px 10px 0px 10px;
}

.space::after {
    clear: both;
    content: "";
    display: block;
}

.box{
    height: 288px;
}

/* START OF INDEX PAGE */
.bg-index {
    background-image: url("links/skates-circle.png");
    position: relative;
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-classic-moxis{
    background-image: url("links/skates-classic.jpg");
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover  
}

.bg-custom{
    background-image: url("links/skates-custom.png");
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover  
}
/* END OF INDEX PAGE */

@media(min-width:540px) {
    .box{
        height: 268px;
    }
}

@media(min-width:800px) {
    .box{
        height: 340px;
    }
}