.black{
    background-color: #06070e;
}

.white{
    background-color: #e0f2e9;
}

.light-green{
    background-color: #67b29e;
}

.green{
    background-color: #3c9380;;
}

.transparent{
    background-color: transparent;
}