@import url("colors.css");
@import url('https://fonts.googleapis.com/css?family=Jura:500,700|Roboto&display=swap');

body {
    margin: 0px;
}

header{
    background-color: #06070e;
}

header input#toggler{
    display: none;
}

header label img{
    width: 40px;
    height: auto;
    margin: 10px;
}

nav {
    background-color: #06070e;
    display: none;
    padding-top: 0px;
}

input#toggler:checked + nav{
    display: block;
}

nav ul{
    list-style: none;
    padding-left: 0px;
    margin: 0px;
    text-align: left;
}

nav li:first-child{
    margin-top: 0px;
}

nav ul a{
    text-decoration: none;
    color: #e0f2e9;
    text-transform: uppercase;
    font-family: 'Jura', sans-serif;
    font-size: 20px;
    font-weight: 700;
}

nav a{
    display: block;
    padding: 20px;
}

.current {
    text-shadow: 0 0 15px #3c9380;
    color: #67b29e;
    border-left: 4px solid #67b29e;
}

/* ---- MAIN ---- */

.floater-section{
    float: left;
    min-height: 300px;
    width: 100%;
}

.container::after{
    clear: both;
    content: "";
    display: block;
}

p{
    font-family: 'Roboto', sans-serif;

}

@media(min-width:540px){
    nav{
        padding: 0px 10px;
    }

    nav a{
        padding: 10px;
    }

    nav ul li{
        display: inline-block;
        padding-bottom: 5px;
        border-bottom: 0px;
        margin: 10px 20px;
    }

    nav ul{
        text-align: center;
    }

    nav ul a{
        text-decoration: none;
        color: #e0f2e9;
        text-transform: uppercase;
        font-family: 'Jura', sans-serif;
        font-size: 25px;
        font-weight: 700;
    }
    
    .current {
        text-shadow: 0 0 15px #3c9380;
        color: #67b29e;
        border-left: 0px;
        border-bottom: 4px solid #67b29e;
        padding-bottom: 10px;
    }

    header label img{
        display: none;
    }

    /* ---- MAIN ---- */

    .width-md-50{
        width: 50%;
    }

    .width-md-33{
        width: 33%;
    }
}/* end of 540px breakpoint --------------*/

@media(min-width: 800px){
    nav ul li{
        padding: 0px 50px;
    }

    .width-lg-25{
        width: 25%;
    }

    .width-lg-33{
        width: 33.333333%;
    }

    .width-lg-50{
        width: 50%;
    }

    .width-lg-100{
        width: 100%;
    }
}