#ghostImage {
    background-image: url("links/ghost-wave.gif");
    position: relative;
    height: 440px;
    background-repeat: no-repeat;
    animation: moveSide 4s infinite;
  }
  
  @keyframes moveSide {
    from {left: 0px;}
    to {left: 400px;}
  }
  
  @keyframes moveDown {
    from {top: 0px;}
    to {top: 200px;}
  }