#ghostImage {
    position: relative;
    animation: moveSide 4s infinite;
  }
  
  @keyframes moveSide {
    from {left: 0px;}
    to {left: 400px;}
  }
  
  @keyframes moveDown {
    from {top: 0px;}
    to {top: 200px;}
  }