.red{
    background-color: #8d1615;
}

.peach{
    background-color: #F1C29A;
}

.white{
    background-color: #F1EAD9;
}

.black{
    background-color: #0D0D0D;
}

.transparent{
    background-color: transparent;
}