@import "colors.css";
@import "layout.css";
@import "navbar.css";

.content-table {
    display: table;
    height: 260px;
    margin: 0 auto;
  }
  .content-table p {
    display: table-cell;
    margin: 0;
    background: white;
    color: black;
    padding: 20px;
    border: 10px solid black;
    vertical-align: middle;
  }


/* Block element with known height */
.pos-relative{
    position: relative;
}

.v-centered-block-known{
    width: 300px;
padding: 20px;
position: absolute;
top: 19%;
left: 50%;
  
    margin: -70px 0 0 -170px;
  }

/* with unknown height */
.v-centered-block{
    position: absolute;
top: 46%;
left: 70%;
transform: translate(-50%, -50%);
width: 50%;
border: 3px aliceblue solid;
}


/* block element vertically and horizontally centered - known height/width */
.v-h-centered-block{
    width: 512px;
padding: 20px;
position: absolute;
top: 50%;
left: 50%;
margin: -205px 0 0 -275px;
}