@import "colors.css";
@import "layout.css";
@import "navbar.css";
@import url('https://fonts.googleapis.com/css?family=Lobster+Two:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald:400,500,600,700&display=swap');

/* START OF CENTERING */
.content-table {
    display: table;
    height: 430px;
    margin: 0 auto;
}

.content-table p {
    display: table-cell;
    margin: 0;
    background: white;
    color: #0D0D0D;
    padding: 20px;
    border: 10px solid #0D0D0D;
    vertical-align: middle;
}


/* Block element with known height */
.pos-relative {
    position: relative;
}

/* with unknown height */
.v-centered-block {
    position: absolute;
    top: 79%;
    left: 74%;
    transform: translate(-50%, -50%);
    width: 50%;
    border: 3px #F1EAD9 solid;
}

.v-h-centered-block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* block element vertically and horizontally centered - known height/width */
.v-h-centered-block-known {
    width: 219px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -168px 0 0 -130px;
}

/* END OF CENTERING */

.background {
    background-image: url("links/team.jpg");
    background-color: #8d1615;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    text-align: center;
    font-family: 'Lobster Two', cursive;
    text-shadow: 1px 1px 1px #0D0D0D;
    color: #8d1615;
}

h2 {
    font-family: 'Lobster Two', cursive;
    font-size: 30px;
    text-align: center;
}

h3 {
    font-family: 'Lobster Two', cursive;
    font-size: 27px;
}

p {
    font-family: 'Oswald', sans-serif;
}

/*MEDIUM SIZE SCREENS*/
@media(min-width:540px) {
    h1 {
        font-size: 50px;
    }
}