body{
    margin: 0px;
}

.nav-bar {
    background-color: darkorange;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.nav-item{
    margin: 10px;
}

.nav-bar img{
    height: 40px;
    width: auto;
}

.hidden{
    display: none;
  }

.web{
    display: none;
}

/*MEDIUM SIZE SCREENS*/
@media(min-width:540px) {
    .nav-bar{
        flex-direction: row;
    }

    .web {
        display: block;
    }

    .mobile{
        display: none;
    }
}