@import url('https://fonts.googleapis.com/css?family=Text+Me+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body {
    margin: 0px;
}

/* NAVBAR */
.nav-bar {
    background-color: #CABBAE;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.nav-item {
    margin: 10px;
    font-family: 'Text Me One', sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.nav-bar img {
    height: 40px;
    width: auto;
}

.hidden, .caption, .web {
    display: none;
}

.current{
    text-decoration: underline double;
}

/* MAIN */
.flex-content{
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
}

h1{
    font-family: 'Text Me One', sans-serif;
    text-align: center;
    font-size: 50px;
    margin: 15px;
    width: 100%;
}

.title{
    width: 100%;
}

.flex-content h2{
    margin: 5px;
    text-align: center;
    font-family: 'Text Me One', sans-serif;
}

.flex-content img{
    width: 100%;
    height: auto;
}

.flex-content p{
    margin: 10px;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
}

.flex-content div{
    margin: 10px 0px;
}

/*MEDIUM SIZE SCREENS*/
@media(min-width:540px) {
    .nav-bar {
        flex-direction: row;
    }

    .nav-bar img {
        height: 70px;
        width: auto;
    }

    h1{
        font-size: 70px;
    }

    .web {
        display: block;
    }

    .mobile {
        display: none;
    }

    /* NAVBAR ITEMS */
    .nav-item:nth-child(2) {
        order: 2;
    }

    .nav-item:nth-child(6) {
        order: 3;
    }

    .nav-item:nth-child(7) {
        order: 4;
    }

    /* MAIN */

    .flex-content{
        flex-direction: row;
        margin: 0px 10px;
    }

    .flex-content div{
        margin: 20px;
    }

    .brass{
        order: 1;
        flex-grow: 1;
        width: 25%;
    }
    
    .string{
        order: 2;
        flex-grow: 1;
        width: 25%;
    }
    
    .woodwind{
        order: 3;
        flex-grow: 1;
        width: 25%;
    }
    
    .percussion{
        order: 4;
        flex-grow: 1;
        width: 25%;
    }
    
    .keyboard{
        width: 25%;
        order: 5;
        flex-grow: 2;
    }
}