[class*="bg"] {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

[class*="btn"] {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* INDEX */
.bg-index {
    background-image: url("links/team-beach.jpg");
    position: relative;
    height: 85%;
    background-position: 50% 20%;
}

.btn-moxi-skates {
    background-image: url("links/jack-lolly.jpg");
    background-position: bottom;
}

.btn-visit {
    background-image: url("links/skates-star.jpg");
}

/* INDEX-INSTAGRAM */
.bg-instagram-1 {
    background-image: url("links/instagram-1.jpg");
}

.bg-instagram-2 {
    background-image: url("links/instagram-2.jpg");
}

.bg-instagram-3 {
    background-image: url("links/instagram-3.jpg");
}

.bg-instagram-4 {
    background-image: url("links/instagram-4.jpg");
    background-position: bottom;
}

.bg-instagram-5 {
    background-image: url("links/instagram-5.jpg");
}

.bg-instagram-6 {
    background-image: url("links/instagram-6.jpg");
}

.bg-instagram-7 {
    background-image: url("links/instagram-7.jpg");
}

.bg-instagram-8 {
    background-image: url("links/instagram-8.jpg");
}

.bg-instagram-9 {
    background-image: url("links/instagram-9.jpg");
}

.bg-instagram-10 {
    background-image: url("links/instagram-10.jpg");
}

.bg-instagram-11 {
    background-image: url("links/instagram-11.jpg");
}

.bg-instagram-12 {
    background-image: url("links/instagram-12.jpg");
    background-position: top;
}

.bg-instagram-13 {
    background-image: url("links/instagram-13.jpg");
}

.bg-instagram-14 {
    background-image: url("links/instagram-14.jpg");
}

/* INDEX-INSTAGRAM END*/


.bg-wheels {
    background-image: url("links/wheels.jpg");
}

.bg-plates {
    background-image: url("links/plates.jpg");
}

/* SHOP PAGE */
.bg-shop {
    background-image: url("links/m-cutout.jpg");
    position: relative;
    height: 45%;
}

.bg-jack {
    background-image: url("links/jack-side-black.jpg");
}

.bg-lolly {
    background-image: url("links/lolly-rbg.jpg");
}

.bg-beach-bunny {
    background-image: url("links/beach-bunny.jpg");
}

.btn-wheels {
    background-image: url("links/wheels-mixed-lg.jpg");
    background-position: bottom;
}

.bg-accessories {
    background-image: url("links/toe-stops-rx.jpg");
}


/* WHEELS PAGE */
.bg-wheels-page {
    background-image: url("links/wheels-mixed-lg.jpg");
    position: relative;
    height: 45%;
    background-position: bottom;
}

.bg-wheels-gummy {
    background-image: url("links/wheels-circle.jpg");
}

.bg-wheels-fundae {
    background-image: url("links/wheels-fundae.jpg");
}

.bg-wheels-trick {
    background-image: url("links/wheels-moxi-trick.jpg");
}

.bg-wheels-energy {
    background-image: url("links/wheels-energy.jpg");
}

/* ACCESSORIES PAGE */
.bg-accessories-page {
    background-image: url("links/toe-stops-rx.jpg");
    position: relative;
    height: 45%;
    background-position: top;
}

.bg-accessories-laces {
    background-image: url("links/accessories-laces-rainbow.jpg");
}

.bg-accessories-laces-shiny {
    background-image: url("links/accessories-laces-shiny.jpg");
}

.bg-accessories-leashes {
    background-image: url("links/accessories-leashes.jpg");
}

.bg-accessories-socks {
    background-image: url("links/accessories-socks-stacks.jpg");
}

.bg-accessories-protector {
    background-image: url("links/accessories-toe-protector.jpg");
}

.bg-accessories-dance {
    background-image: url("links/accessories-toe-stop-jam.jpg");
}

.bg-accessories-stops {
    background-image: url("links/accessories-toe-stops.jpg");
}

.bg-accessories-tools {
    background-image: url("links/accessories-tools.jpg");
}

.bg-accessories-hats {
    background-image: url("links/accessories-hats-venice.jpg");
}

.bg-accessories-fanny {
    background-image: url("links/accessories-fanny-pack.jpg");
}


/* LOCATION PAGE */
.bg-shop-lb {
    background-image: url("links/shop-longbeach-lg.jpg");
}

.bg-shop-v {
    background-image: url("links/shop-venice-lg.jpg");
}

@media(min-width:540px) {
    .bg-shop {
        background-image: url("links/m-cutout.jpg");
    }
}

@media(min-width:800px) {
    .bg-shop {
        background-image: url("links/accessories-toe-stop-jam.jpg");
        background-position: bottom;
    }
}