/* font for body-works all */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');
/* font for head test */
@import url('https://fonts.googleapis.com/css?family=Coiny&display=swap');
/* Font for head end- NEED TO CHECK */

@import url(layout.css);
@import url(colors.css);
@import url(navbar.css);
@import url(background-images.css);
@import url(form.css);

body,
html {
    height: 100%;
    margin: 0;
}

.caption {
    width: 100%;
    text-align: center;
    color: #000;
}

header p {
    font-family: 'Coiny', cursive;
    font-size: 40px;
    color: #E83C64;
    margin: 0px 15px;
    float: left;
}

h1,
h2,
h3 {
    text-align: center;
    font-family: 'Coiny', cursive;
    text-shadow: 4px 5px 6px black, 4px -3px 6px black;
}

h1 {
    font-size: 65px;
    color: #FFFFFF;
}

h2 {
    font-size: 65px;
    margin: 0px;
    padding: 0px;
    color: #2AB7CA;
    line-height: 60px;
    padding: 35px;
}

h3 {
    font-size: 50px;
    line-height: 53px;
    color: #F9D448;
    margin-bottom: 10px;
}

.page-link {
    font-size: 45px;
    line-height: 57px;
    color: #F9D448;
    margin-bottom: 10px;
    text-shadow: 4px 5px 6px black, 4px -3px 6px black;
}

h4 {
    padding: 7px;
    font-weight: bold;
    margin: 0px;
    text-align: left;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.price {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: black;
    text-align: left;
    text-shadow: 0 0 0;
    font-size: 35px;
    margin: -10px 20px;
}

p,
a {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    padding: 0px 20px;
}

.logo-link {
    padding: 0px;
}

ul,
li {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.icon {
    height: 20px;
    width: auto;
    vertical-align: middle;
}

.button {
    background-color: #E83C64;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 95px;
    padding: 16px 32px;
    font-family: 'Coiny', cursive;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin: 25px 2px;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button:hover {
    background-color: #E83C64;
    color: white;
}

.instagram {
    width: 100%;
    text-align: center;
    color: #000;
    background-color: white;
    padding: 20px;
    font-size: 30px;
    text-decoration: none;
}

.flush .row {
    padding: 0px;
}

/* STORE */
.hide-sm {
    display: block;
}

.hide {
    display: none;
}

label {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

/* WHEELS */
.shop-list h2 {
    font-size: 30px;
    margin: 10px;
    padding: 0px;
    color: black;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    text-shadow: 0px 0px 0px;
    text-align: center;
    line-height: 40px;
}

.shop-list strong {
    font-size: 25px;
}

/* LOCATION */
.text-band h3 {
    font-size: 24px;
    line-height: 36px;
    color: #F9D448;
    margin-bottom: 10px;
    padding: 35px;
    text-align: left;
    text-shadow: 3px 2px 6px black;
    word-spacing: 10px;
}

#long_beach_shop h2,
#venice_shop h2 {
    font-size: 45px;
    padding: 25px 0px 0px 0px;
}

.hours p {
    margin: 5px;
    font-size: 34px;
    text-align: center;
}

.contact {
    font-size: 20px;
    text-align: center;
    padding: 10px;
}

.contact:hover {
    font-size: 25px;
}

.contact a {
    text-decoration: none;
    color: black;
}

/* GRID */

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 0px;
}

.col-1 {
    width: 8.33%;
}

.col-6 {
    width: 50%;
}

@media(min-width:540px) {
    .box {
        height: 268px;
    }

    .box-short {
        height: 200px;
    }

    .m-col-3 {
        width: 25%;
    }

    h1 {
        font-size: 90px;
        color: #FFFFFF;
    }

    .text-band h3 {
        font-size: 31px;
        line-height: 45px;
    }

    #long_beach_shop h2,
    #venice_shop h2 {
        font-size: 39px;
    }
}

@media(min-width:800px) {
    .box {
        height: 340px;
    }

    .box-short {
        height: 340px;
    }

    .page-link {
        font-size: 60px;
        line-height: 62px;
    }

    .l-col-2 {
        width: 16.66%;
    }

    .width-lg-25 h3 {
        font-size: 30px;
        line-height: 33px;
    }

    .text-band h3 {
        font-size: 40px;
        line-height: 50px;
        padding: 68px;
        word-spacing: 10px;

    }
}

.hide-sm {
    display: none;
}

.hide {
    display: block;
}

#long_beach_shop h2,
#venice_shop h2 {
    font-size: 48px;
}

@media(min-width:1000px) {
    .xl-col-1 {
        width: 14.28%;
    }

    .width-lg-25 h3 {
        font-size: 40px;
        line-height: 42px;
    }
}