@import url('https://fonts.googleapis.com/css?family=Arya:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

/* Color Theme Swatches in Hex */
.Sleep-Sense-color-theme-1-hex {
    color: #024873;
}

.Sleep-Sense-color-theme-2-hex {
    color: #0396A6;
}

/* .Sleep-Sense-color-theme-3-hex { color: #04BFAD; } */
.Sleep-Sense-color-theme-4-hex {
    color: #AEE6D1;
}

.Sleep-Sense-color-theme-5-hex {
    color: #F25E5E;
}

body {
    margin: 0px;
}

/* NAVBAR */
nav {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 15px;
}

.nav-item {
    margin: 10px;
    font-family: 'Arya', sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: black;
}

nav img {
    height: 60px;
    width: auto;
}

.hidden,
.caption,
.web {
    display: none;
}

.current {
    text-decoration: underline double;
}

/* MAIN */
.banner {
    width: 100%;
    height: 400px;
    background-color: #AEE6D1;
    background-image: url("images/fork.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.banner h1 {
    margin: 0px;
    font-family: 'Arya', sans-serif;
    text-align: center;
    font-size: 36px;
    padding: 12px;
    color: #024873;
}

.info {
    background-color: #024873;
    padding: 20px;
}

.info img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 87%;
}

.info p {
    text-align: left;
    color: white;
    font-size: 23px;
    font-family: 'Open Sans', sans-serif;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 87%;
}

/* GRID */
.grid-index1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 20px;
    margin: 15px;
}

.grid-index2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    grid-gap: 20px;
    margin: 15px;
}

.grid-item {
    width: 100%;
    /* height: 100px; */
    background-color: #024873;
}

.grid-layout p {
    display: flex;
    padding: 10px;
}

/* BUTTONS */
.button-lg {
    position: absolute;
    bottom: 25px;
    right: 27px;
    background-color: #F25E5E;
    padding: 10px;
    /* box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2), 0 5px 10px 0 rgba(0,0,0,0.19); */
    color: #024873;
    font-size: 13px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    border: 1px solid #F25E5E;
}