.white{
    background-color: #EAF2EF;
}

.black{
    background-color: #120309;
}

.dark-green{
    background-color: #0D3822;
}

.green{
    background-color: #17976A;
}

.orange{
    background-color: #E9571C;
}

.blue{
    background-color: #016C71;
}

.transparent{
    background-color: transparent;
}