@import "colors.css";
@import "layout.css";
@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,800&display=swap');

body {
    margin: 0px;
}

header input#toggler {
    display: none;
}

header label img {
    width: 40px;
    height: auto;
    margin: 10px;
}

nav {
    background-color: #17976A;
    display: none;
    padding-top: 0px;
}

input#toggler:checked+nav {
    display: block;
}

nav ul {
    list-style: none;
    padding-left: 0px;
    margin: 0px;
    text-align: center;
}

nav li:first-child {
    margin-top: 0px;
}

nav ul a {
    text-decoration: none;
    color: #e0f2e9;
    font-family: 'Bowlby One SC', cursive;
    font-size: 20px;
}

nav a {
    display: block;
    padding: 15px;
}

.current {
    color: #E9A31C;
    background-color:#0D3822;
}

/* ---- MAIN ---- */
.banner h1{
    margin-top: -100px;
    font-family: 'Bowlby One SC', cursive;
    font-size: 40px;
    text-align: center;
    color: #E9A31C;
    text-shadow: 2px 5px 6px #120309;
    margin-bottom: 0px;
}

.banner h2{
    font-family: 'Open Sans', Arial, sans-serif;
    text-align: center;
    font-size: 20px;
    margin-top: 0px;
    color: #016C71;
    text-shadow: 1px -3px 3px #EAF2EF;
    font-weight: 701;
}

p{
    font-family: 'Open Sans', Arial, sans-serif;
}