@import "colors.css";
@import "layout.css";
@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,800&display=swap');

body {
    margin: 0px;
}

header {
    background-color: #17976A;
}

header input#toggler {
    display: none;
}

header label img {
    width: 40px;
    height: auto;
    margin: 10px;
}

nav {
    background-color: #17976A;
    display: none;
    padding-top: 0px;
}

input#toggler:checked+nav {
    display: block;
}

nav ul {
    list-style: none;
    padding-left: 0px;
    margin: 0px;
    text-align: center;
}

nav li:first-child {
    margin-top: 0px;
}

nav ul a {
    text-decoration: none;
    color: #e0f2e9;
    font-family: 'Bowlby One SC', cursive;
    font-size: 20px;
}

nav a {
    display: block;
    padding: 15px;
}

.current {
    color: #E9A31C;
    background-color: #016C71;
}

p a:link{
    color: #17976A;
}

p a:visited{
    color:#016C71;
}

p a:hover{
    color: #E9A31C;
}

p a:active{
    color: #0D3822;
}

/* ---- MAIN ---- */
.banner {
    position: relative;
}

h1 {
    font-family: 'Bowlby One SC', cursive;
    font-size: 10vw;
    text-align: center;
    color: #E9A31C;
    text-shadow: 2px 5px 6px #120309;
    margin-bottom: 0px;
}

h2 {
    font-family: 'Open Sans', Arial, sans-serif;
    text-align: center;
    font-size: 6vw;
    margin-top: 0px;
    color: #016C71;
    text-shadow: 1px -3px 3px #EAF2EF;
    font-weight: 701;
}

.title {
    position: absolute;
    width: 100%;
    bottom: 0px;
}

p {
    font-family: 'Open Sans', Arial, sans-serif;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

/* start of 540px breakpoint --------------*/
@media(min-width:540px) {
    nav {
        display: inline;
    }

    nav a {
        padding: 10px;
    }

    nav ul li {
        display: inline-block;
        margin: 10px 20px;
    }

    nav ul {
        text-align: center;
    }

    nav ul a {
        text-decoration: none;
        color: #e0f2e9;
        font-family: 'Bowlby One SC', cursive;
        font-size: 20px;
    }

    .current {
        display: none;
    }

    .i-current {
        background-image: url("links/foot.png");
        background-repeat: no-repeat;
        background-color: transparent;
        background-size: 40px;
        background-position-x: 63px;
        padding-right: 24px;
        color: #E9A31C;
    }

    .e-current {
        background-image: url("links/foot.png");
        background-repeat: no-repeat;
        background-color: transparent;
        background-size: 40px;
        background-position-x: 101px;
        padding-right: 24px;
        color: #E9A31C;
    }

    .s-current {
        background-image: url("links/foot.png");
        background-repeat: no-repeat;
        background-color: transparent;
        background-size: 40px;
        background-position-x: 113px;
        padding-right: 24px;
        color: #E9A31C;
    }

    nav a:hover {
        color:
            #f0a910;
    }

    header label img {
        display: none;
    }
}

/* ---- MAIN ---- */


/* end of 540px breakpoint --------------*/
/* start of 800px breakpoint --------------*/
@media(min-width: 800px) {
    nav ul {
        text-align: right;
    }
}