[class*="bg"] {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

[class*="btn"] {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* INDEX */
.bg-index {
    background-image: url("links/team-beach.jpg");
    position: relative;
    height: 85%;
    background-position: 50% 20%;
}

.btn-moxi-skates {
    background-image: url("links/jack-lolly.jpg");
    background-position: bottom;
}

.btn-visit{
    background-image: url("links/skates-star.jpg");
}

/* INDEX-INSTAGRAM */
.bg-instagram-1 {
    background-image: url("links/instagram-1.jpg");
}

.bg-instagram-2 {
    background-image: url("links/instagram-2.jpg");
}

.bg-instagram-3 {
    background-image: url("links/instagram-3.jpg");
}

.bg-instagram-4 {
    background-image: url("links/instagram-4.jpg");
    background-position: bottom;
}

.bg-instagram-5 {
    background-image: url("links/instagram-5.jpg");
}

.bg-instagram-6 {
    background-image: url("links/instagram-6.jpg");
}

.bg-instagram-7 {
    background-image: url("links/instagram-7.jpg");
}

.bg-instagram-8 {
    background-image: url("links/instagram-8.jpg");
}

.bg-instagram-9 {
    background-image: url("links/instagram-9.jpg");
}

.bg-instagram-10 {
    background-image: url("links/instagram-10.jpg");
}

.bg-instagram-11 {
    background-image: url("links/instagram-11.jpg");
}

.bg-instagram-12 {
    background-image: url("links/instagram-12.jpg");
    background-position: top;
}

.bg-instagram-13 {
    background-image: url("links/instagram-13.jpg");
}

.bg-instagram-14 {
    background-image: url("links/instagram-14.jpg");
}

/* INDEX-INSTAGRAM END*/
.bg-m-cutout {
    background-image: url("links/m-cutout.jpg");
    position: relative;
    height: 25%;
}

.bg-wheels {
    background-image: url("links/wheels.jpg");
}

.bg-plates {
    background-image: url("links/plates.jpg");
}

/* SHOP PAGE */
.bg-shop {
    background-image: url("links/m-cutout.jpg");
    position: relative;
    height: 45%;
}

.bg-jack {
    background-image: url("links/jack-side-black.jpg");
}

.bg-lolly {
    background-image: url("links/lolly-rbg.jpg");
}

.bg-beach-bunny{
    background-image: url("links/beach-bunny.jpg");
}

.bg-wheels{
    background-image: url("links/wheels-mixed-lg.jpg");
}

.bg-accessories{
    background-image: url("links/toe-stops-rx.jpg");
}

/* LOCATION PAGE */
    .bg-shop-lb{
        background-image: url("links/shop-longbeach-lg.jpg");
    }

.bg-shop-v {
    background-image: url("links/shop-venice-lg.jpg");
    /* height: 300px; */
}

@media(min-width:540px) {
    .bg-shop {
        background-image: url("links/m-cutout.jpg");
    }
}

@media(min-width:800px) {
    .bg-shop {
        background-image: url("links/toe-stop-jam.jpg");
        background-position: bottom;
    }
}