.white {
    background-color: #FFFFFF;
}

.black {
    background-color: #120309;
}

.orange {
    background-color: #E89005;
}

.yellow {
    background-color: #F9D448;
}

.blue {
    background-color: #2AB7CA;
}

.pink {
    background-color: #E83C64;
}

.transparent {
    background-color: transparent;
}

/* BORDERS */

.border-orange{
    border: 10px solid #E89005;
}

.border-yellow{
    border: 10px solid #F9D448;
}

.border-blue{
    border: 10px solid #2AB7CA;
}

.border-pink{
    border: 10px solid #E83C64;
}