.white {
    background-color: #FFFFFF;
}

.black {
    background-color: #120309;
}

.orange {
    background-color: #E89005;
}

.yellow {
    background-color: #F9D448;
}

.blue {
    background-color: #2AB7CA;
}

.pink {
    background-color: #E83C64;
}

.transparent {
    background-color: transparent;
}